<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySphere</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="shortcut icon" href="/public/images/image.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="bg-image">
        <div class="logo">
            <div class="img-div">
                <img src="/images/image.png" alt="main-logo">
            </div>
            <div id="quote-div"><h2>"<%= quoteText %>" &nbsp; - <%= bookAuthor %></h2></div>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4PP3DA4J0N8?utm_source=generator&theme=0" width="25%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="fixed-timers">
            <button onclick="hour1()">1 hour</button>
            <button onclick="hour2()" id="hour2-btn">2 hour</button>
            <button onclick="break5()">5 minute break</button>
        </div>
        <div class="hr-min-sec">
          <input value="00" id="timer-display-hour">:
          <input value="25" id="timer-display-minute">:
          <input value="00" id="timer-display-second">
        </div>
          <div class="btn-div">
    <button id="start-timer-btn">Start Session</button>
    <button onclick="stop_timer()" class="btns stop-btn"><i class="fa-regular fa-circle-stop fa-lg"></i></button>
    <button onclick="restartTimer()" class="btns"><i class="fa-solid fa-arrow-rotate-left fa-lg"></i></button>
    </div>
    </div>
   

    <div class="task-container">
        <h1>Task Manager</h1>
        <input type="text" name="" id="task-input">
        <button onclick="createTask()" id="task-submit-btn">Submit</button>
        <div id="task-list"></div>
    </div>
  
    <script src="/script/indexScript.js"></script>
</body>
</html>
