@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.bg-image {
    background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.logo {
    height: 7em;
    width: 100%;
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo > .img-div > img {
    height: 100%;
}
.img-div{
    padding-top: 0.5rem;
    height: 100%;
    width: 25%;
}
.logo > iframe{
    margin-top: 2em;
    margin-right: 0.5em;
}
#quote-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#quote-div > h2{
    color: rgba(255,255,255);
    width: 80%;
    font-weight: 900;
    font-size: 1.5em;
}
.hr-min-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    /* margin:5%; */
    font-size: xx-large;
    font-weight: bold ;
    color:white;
    border-radius: 2rem;
    

}
.hr-min-sec > input {
    width: 5em;
    height: 5em;
    border:none;
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    
}

.timer-box > h1 {
    font-size: 3.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#start-timer-btn {
    padding: 1rem;
    border-radius: 1em;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.4s ease; 
    background-color: #ffffff; 
    color: #000000; 
    border: 2px solid #ffffff; 
    cursor: pointer; 
}

#start-timer-btn:hover {
    background-color: transparent; /* Changes the background to transparent on hover */
    color: #ffffff; /* Changes text color to white (or any color that suits your design) on hover */
}
.btn-div{
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btns{
    padding: 1rem;
    border-radius: 1em;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.4s ease; 
    background-color: #ffffff; 
    color: #000000; 
    border: 2px solid #ffffff; 
    cursor: pointer; 
}
.btns:hover{
    background-color: transparent; /* Changes the background to transparent on hover */
    color: #ffffff; /* Changes text color to white (or any color that suits your design) on hover */
}
.stop-btn{
margin-left: 1rem;
margin-right:1rem;

}
.fixed-timers{
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fixed-timers > button{
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5rem;
    border: solid white;
    background-color: transparent;
    color: white;
    transition: background-color 0.5s ease; 
}
#hour2-btn{
    margin-left: 2rem;
    margin-right: 2rem;
}
.fixed-timers > button:hover{
    background-color: white;
    color: black;
}

.raindrop {
    position: absolute;
    width: 2px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 100%;
    pointer-events: none;
    animation: fall linear 0.7s; /* All raindrops fall at the same speed */
  }
  
  @keyframes fall {
    0% {
      transform: translateY(0vh);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 1; /* Maintain full opacity throughout the fall */
    }
  }
  
.task-container{
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8rem;
    right: 1rem;
    flex-direction: column;
    padding: 4%;
    padding-top:2rem;
    color: rgba(0,0,0,0.9);
    border-radius: 0.5rem;
    margin-top: 4em;
}
.task-container > h1{
    padding-bottom: 3rem;
    
}
.task-container > input{
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-size:medium;
    font-weight:bold;
    

}
#task-submit-btn{
    font-size: 1rem;
    padding: .3rem;
    margin-top: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 0.5rem;
    border-color: #ffffff;
    font-weight: 700;
    transition: background-color 0.5s ease;
}
#task-submit-btn:hover{
    color: black;
    background-color: transparent;
    border-color: black;
}
#task-list{
    padding-top: 1rem;
}
#task-list li{
    list-style: none;
    padding-top: .5rem;
    font-weight: 900;
    font-size: large;
}
#task-list input{
    margin-right: .3rem;
    height: 1rem;
    text-align: center;
}
#task-list button{
    margin-left: .3rem;
    padding: .2rem;
    border-radius: .5rem;
    border-color: black;
    font-weight: 700;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: black;
}
#task-list button:hover{
    background-color: white;
    border-color: white;
}

@media screen and (max-width: 768px) {
    .logo{
        padding-top: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .logo > iframe{
        width: 90%;
        margin-left: 2%;
        margin-right: 2%;
        height: 7rem;
    }
    .fixed-timers{
        margin-top: 10%;
    }
    .hr-min-sec{
        width: 100vw;
    }
    .hr-min-sec > input{
        width: 30%;
        padding-right: 0;
        padding-left: 0;
    }
    .task-container{
        width: 90%;
        height: 10rem;
        position: static;
        padding: 0;
        margin: 0;
        bottom: 0 !important;
        margin-bottom: 5rem;
        display: none;
    }
  }